

#bg-image {

	min-height: 22rem;
	background-image: url("./images/pixel5.gif");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: scroll;
	background-attachment: fixed;
	
	}

	.front-bg {
		background-color: black;
		background: rgba(0, 0, 0, 0.5);
		text-align: right;
			
	}

	#bg-image2 {

		min-height: 22rem;
		background-image: url(./images/pixel4.gif);
		background-repeat: no-repeat;
		background-size: 10%;
		background-position: center;
		background-attachment: scroll;

		
		}
		.front-bg2 {
		background-color: black;
		background: rgba(0, 0, 0, 0.5);
		text-align: right;
	}
	

	#bg-image3 {
		min-height: 0rem;
		background-image: url("./images/pixel.gif");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		background-attachment: scroll;
	}

	.container {
		width: 100%;
/*		height: 100vh;*/
		display: flex;
/*		align-items: center;*/
		justify-content: center;
	}

	.pixel {
		min-height: 0rem;
		background-image: url("./images/pixel3.gif");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		background-attachment: scroll;

	}

	.container {
		font-size: 50px;
		color: #2CD3E1;
	}
